:root {
  --color-bgnav: rgba(255, 254, 254, 0.26);
  --color-text-dark: #000;
  --color-text-contras: #fff;
  --color-text-variasi: #1eff00;
  --color-text-variasi2: rgb(0, 217, 255);
  --color-bgfooter: rgb(4, 8, 255);
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}
ul {
  background-color: var(--color-text-dark);
  height: 10vh;
}
.hero {
  width: 100%;
  height: 90vh;
  margin-top: 2rem;
}
.hero img {
  height: 50%;
  width: 30%;
}
.hero h1 {
  font-family: "Oswald", sans-serif;
  font-size: 700;
  margin-top: 2rem;
}
.hero h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 400;
}
.hero a {
  color: var(--color-text-contras);
  background-color: var(--color-text-variasi);
}
.hero a:hover {
  color: var(--color-text-contras);
  background-color: var(--color-text-variasi2);
}
footer {
  padding: 3rem;
  background-color: var(--color-bgfooter);
  color: var(--color-text-contras);
}

footer a {
  color: var(--color-text-contras);
  font-weight: bold;
  text-decoration: none;
}
footer i {
  margin: 2rem;
}

/*Media Queries */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width: 786px) {
  html {
    font-size: 60.5%;
  }
}

/* Mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .nav-link {
    font-size: 100%;
    padding: 1rem;
    margin: 1rem;
  }
}
