:root {
  --color-bgnav: rgb(4, 8, 255);
  --color-text-dark: #000;
  --color-text-contras: #fff;
  --color-text-variasi: #1eff00;
  --color-text-variasi2: rgb(128, 128, 128);
  --color-bgfooter: rgb(4, 8, 255);
}

body {
  font-size: 1.2rem;
  font-family: "Public Sans", sans-serif;
  min-height: 2000px;
}

.mynavbar {
  background-color: var(--color-bgnav) !important;
  backdrop-filter: blur;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Oswald", sans-serif !important;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  color: var(--color-text-variasi2);
}

.mynavbar .navbar-brand span,
.mynavbar .offcanvas-title span {
  color: var(--color-text-variasi);
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.mynavbar .nav-link:hover {
  background-color: var(--color-text-variasi);
  border-radius: 8px;
}

.mynavbar a {
  color: var(--color-text-variasi);
}

.mynavbar a:hover {
  transition: 0.5s;
  color: aqua;

}

/*Content*/
.home {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 15rem;
}

.home h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  margin-top: 5rem;
  color: var(--color-text-contras);
  font-weight: bold;
}

.home h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 2.5rem;
  color: var(--color-green);
  font-weight: bold;
}

.home p {
  font-size: 1.5rem;
  color: var(--color-fontwhite);
}

.home a,
.gift a,
.menu a {
  color: var(--color-text-contras);
  box-shadow: var(--color-text-dark);
  background-color: var(--color-text-variasi);
  margin-top: 2rem;
}

.gift a:hover,
.home a:hover,
.menu a:hover {
  background-color: aqua;
  color: whitesmoke;
  transition: 0.5s;
}

.about {
  background-color: var(--color-text-contras);
  min-height: 100%;
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.about h2,
.gift h2,
.contact h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  color: var(--color-text-dark);
  font-weight: bold;
}

.about p {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.menu {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 15rem;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.enu a {
  font-size: 1, 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 4rem;

}

.menu h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  color: var(--color-text-contras);
  font-weight: bold;
}

.menu h3 {
  font-size: 0, 2rem;
  font-family: "Times New Roman", Times, serif;
}

.gift,
.contact {
  width: 100%;
  min-height: 100%;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

footer {
  padding: 3rem;
  background-color: var(--color-bgfooter);
  color: var(--color-text-contras);
}

footer a {
  color: var(--color-text-contras);
  font-weight: bold;
  text-decoration: none;
}

footer i {
  margin: 2rem;
}

/*Media Queries */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width: 786px) {
  html {
    font-size: 60.5%;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
}

/* Mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
}